body {
	background-color: white;
	font-family: 'Cutive Mono', ;
}
#content {
	background-color: white;
	width: 90%;
	opacity: 0.8;
	margin-left: auto ;
  	margin-right: auto ;
}
#header {
	clear: both;
	height: 50px;
	background-color:#4b5662;
	color: green;
	text-align: center;
}
#directions {
	background-color: grey;
	clear: both;
    	color: green;
    	text-align: center;
}

#code {
	float: left;
	width: 49%;
	padding-left: 20px;
}

#result {
	float: right;
	text-align: left;
	width: 45%;
    	color: black;
}
.error {
    color: red;
}
.warning {
	color: orange;
}


