<!DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
    <title>{{course}}</title>
    {{ form.media }}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        function run() {
            $('#code_area').attr('action', "/grader/code/").submit();
        }
        function grade() {
            $('#code_area').attr('action', "/grader/grade/").submit();
        }
    </script>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>
<body>
    <!--The following lines result in the editor not loading-->
    {% if assignment.open_from and now < assignment.open_from %}
        <p>This exercise isn't open yet!</p>
    {% elif assignment.open_till and now >= assignment.open_till %}
        <p>This exercise has closed!</p>
    {% else %}
	<div id="content">
	<div id="directions">
        {% if attempts_left == 0 %}
        <p>Olet käyttänyt kaikki yrityskertasi! </p>
        {% endif %}
        <!--End of exceptional situations-->
        <div id="header"><h1>{{assignment.name}}</h1></div>
        <p>{{assignment.description}}</p>

        {% if attempts_left == 1 %}
        <div id="warning"><p>Sinulla on vain YKSI yrityskerta jäljellä! </p></div>
        {% elif attempts_left != 9999 %}
        <p>Sinulla on <b>{{attempts_left}}</b> yrityskertaa jäljellä </p>
        {% else %}
        <!-- Much attempts. Over 9000. Wow. -->
        {% endif %}
	</div>

	<div id="play-area">
        <div id="error">
            <p>{{error|linebreaks}}</p>
        </div>
        <div id="result">
            <p>{{message|linebreaks}}</p>
        </div>

	<div id="code">
        <form id="code_area" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        </form>
        <button type="button" onclick="run()">Aja</button>
        {% if attempts_left == 0 %}
            <button type="button" disabled onclick="grade()">Testaa arvostelijalla</button>
        {% else %}
        <button type="button" onclick="grade()">Testaa arvostelijalla</button>
        {% endif %}
	</div>
	</div>
	</div>
    {% endif %}

</body>
</html>
