<!DOCTYPE html>
<html>
<head>
    <title>{{course}}</title>
    {{ form.media }}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        function run() {
            $('#code_area').attr('action', "/grade/"{{course}}"/"{{assignment.name}}+"/").submit();
        }
        function grade() {
            $('#code_area').attr('action', "grade/").submit();
        }

    </script>
</head>
<body>
    {% if assignment.open_from and now < assignment.open_from %}
    <p>This exercise isn't open yet!</p>
    {% elif assignment.open_till and now >= assignment.open_till %}
    <p>This exercise has closed!</p>
    {% endif %}

    {% if attempts_left == 0 %}
    <p>Olet käyttänyt kaikki yrityskertasi! </p>
    {% endif %}

    <h1>{{assignment.name}}</h1>
    <p>{{assignment.description}}</p>

    {% if attempts_left == 1 %}
    <p>Sinulla on vain YKSI yrityskerta jäljellä! </p>
    {% elif attempts_left != 9999 %}
    <p>Sinulla on {{attempts_left}} yrityskertaa jäljellä </p>
    {% else %}
    <!-- Much attempts. Over 9000. Wow. -->
    {% endif %}
    <p>hep</p>
    {{message}}
    <form id="code_area" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Tsadam"/>
    </form>
    <button type="button" onclick="run()">Aja</button>
    <button type="button" onclick="grade()">Testaa arvostelijalla</button>

</body>
</html>
