<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
    <style>
      body {
        font-family: 'Cutive Mono', serif;
      }
    </style>
    <title>{{course}}</title>
    {{ form.media }}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        function run() {
            $('#code_area').attr('action', "/grader/code/").submit();
        }
        function grade() {
            $('#code_area').attr('action', "/grader/grade/").submit();
        }
    </script>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>
<body>
    <!--The following lines result in the editor not loading-->
    {% if assignment.open_from and now < assignment.open_from %}
        <p>This exercise isn't open yet!</p>
    {% elif assignment.open_till and now >= assignment.open_till %}
        <p>This exercise has closed!</p>
    {% else %}
	<div id="content">
		<div id="directions">
		        <!--End of exceptional situations-->
		        <div id="header"><h1>{{assignment.name}}</h1></div>
		        <p>{{assignment.description}}</p>
		</div>
        {% if attempts_left %}
            <div id="attempts">
                {% if attempts_left == 1 %}
                    <p class="warning">Sinulla on vain YKSI yrityskerta jäljellä! </p>
                {% elif attempts_left == 0 %}
                    <p>Sinulla on <b>{{attempts_left}}</b> yrityskertaa jäljellä </p>
                {% else %}
                    <p class="error">Olet käyttänyt kaikki yrityskertasi! </p>
                {% endif %}
            </div>
        </div>
	{% endif %}
		<div id="play-area">
		        <div id="result">
                    <!--There shouldn't be an error and a message at the same time but just in case of faults... -->
                    {% if error != "" %}
		                <pre class="error">{{error|linebreaks}}</pre>
                    {% endif %}
                    {% if message != "" %}
		                <pre>{{message|linebreaks}}</pre>
                    {% endif %}
		        </div>
	
			<div id="code">
			        <form id="code_area" action="" method="post">
			        {% csrf_token %}
			        {{ form.as_p }}
			        </form>
			        <button type="button" onclick="run()">Aja</button>
			        {% if attempts_left and attempts_left == 0 %}
			            <button type="button" disabled onclick="grade()">Testaa arvostelijalla</button>
			            <p class="error">Olet käyttänyt kaikki yrityskertasi! </p>
			        {% else %}
			        <button type="button" onclick="grade()">Testaa arvostelijalla</button>
			        {% endif %}
			</div>
		</div>
	</div>
    {% endif %}

</body>
</html>
